# Ignora tutti i dati di tipo CSV
*.csv

# Ignora i file temporanei di Python
__pycache__/
*.pyc

# Ignora i file di configurazione locali
.venv/
.vscode/

# Ignora le credenziali e i dati del database
DDBB/Wallet_STRADA/
DDBB/connessione.py

# Ignora tutti i dati di tipo TWB
*.twb